<br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div id="msform" class="mb-5">

  <fieldset>
    <h2 class="fs-title">Create your car</h2>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    <label class="d-block text-left carLabel" for="carInput">Car:</label>
    <input class="w-30"
           type="text"
           placeholder="Write here a car.."
           #carNameInput
           [value]="carName"
           (input)="carInput(carNameInput.value)"
    >
    <label class="d-block text-left carLabel" for="partInput">Part name:</label>
    <input
      class="w-30"
      type="text"
      placeholder="Part name.."
      #partialNameInput
      [value]="partialName"
      (input)="partialInput(partialNameInput.value)"
    >
    <label class="d-block text-left carLabel" for="partCost">Partial cost:</label>
    <input
      class="w-30"
      type="text"
      placeholder="Cost of part.."
      #partCost
      [value]="partialCost"
      (input)="partialCostInput(+partCost.value)"
    >
    <div class="d-flex flex-column w-100">
      <input type="button" name="next" class="w-100 next action-button" value="Add car!"
             (click)="addCar(); clearFields(); printCars()"
      />
      <input type="button" name="next" class="w-100 next action-button" value="Show all your cars"
             (click)="printCars(); toggleDisplay()"
      />
    </div>

  </fieldset>

</div>

<div class="section_our_solution" [hidden]="isShow">
  <app-cars [carsData]="carsData"></app-cars>
</div>

