<!--<div class="d-flex flex-column carSection">-->
<!--  <div class="p-1 d-flex flex-column">-->
<!--    <label for="carInput">Car:</label>-->
<!--    <input class="w-30"-->
<!--           type="text"-->
<!--           placeholder="Write here a car.."-->
<!--           #carNameInput-->
<!--           [value]="partialName"-->
<!--           (input)="carInput(carNameInput.value)"-->
<!--    >-->
<!--  </div>-->
<!--  <div class="p-1 d-flex flex-column">-->
<!--    <label for="partInput">Part:</label>-->
<!--    <input-->
<!--      class="w-30"-->
<!--      type="text"-->
<!--      placeholder="Part name.."-->
<!--      #partialNameInput-->
<!--      [value]="partialName"-->
<!--      (input)="partialInput(partialNameInput.value)"-->
<!--    >-->
<!--  </div>-->
<!--  <div class="p-1 d-flex flex-column">-->
<!--    <label for="partCost">Cost of this part:</label>-->
<!--    <input-->
<!--      class="w-30"-->
<!--      type="text"-->
<!--      placeholder="Cost of part.."-->
<!--      #partCost-->
<!--      [value]="partialCost"-->
<!--      (input)="partialCostInput(+partCost.value)"-->
<!--    >-->
<!--  </div>-->
<!--  <button class="m-1 w-30 px-0_3" (click)="addCar()">-->
<!--    Submit-->
<!--  </button>-->
<!--</div>-->
<!--<button class="checkCars w-30 px-0_3" (click)="printCars()">-->
<!--  Check your cars-->
<!--</button>-->


<br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- multistep form -->
<div id="msform" class="mb-5">

  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your car</h2>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    <label class="d-block text-left carLabel" for="carInput">Car:</label>
    <input class="w-30"
           type="text"
           placeholder="Write here a car.."
           #carNameInput
           [value]="carName"
           (input)="carInput(carNameInput.value)"
    >
    <label class="d-block text-left carLabel" for="partInput">Part name:</label>
    <input
      class="w-30"
      type="text"
      placeholder="Part name.."
      #partialNameInput
      [value]="partialName"
      (input)="partialInput(partialNameInput.value)"
    >
    <label class="d-block text-left carLabel" for="partCost">Partial cost:</label>
    <input
      class="w-30"
      type="text"
      placeholder="Cost of part.."
      #partCost
      [value]="partialCost"
      (input)="partialCostInput(+partCost.value)"
    >
    <div class="d-flex flex-column w-100">
      <input type="button" name="next" class="w-100 next action-button" value="Add car!"
             (click)="addCar(); clearFields(); printCars()"
      />
      <input type="button" name="next" class="w-100 next action-button" value="Show all your cars"
             (click)="printCars(); toggleDisplay()"
      />
    </div>

  </fieldset>

</div>

<div class="section_our_solution" [hidden]="isShow">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div  class="solution_cards_box" >
          <div class="solution_card" *ngFor="let car of carsData">
            <div class="hover_color_bubble"></div>
            <div class="solu_title">
              <h3>{{car['car']}}</h3>
            </div>
            <div class="solu_description">
              <h6>Partials</h6>
                <div *ngFor="let partial of car['partials']">
                  <span>{{partial['name']}} - {{ partial['price'] }}$</span>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

